service cloud.firestore {
  match /databases/{database}/documents {
    allow read, write: if false;
    
    match /users/{userId}/schedules/{timeHash} {
      allow read, delete:  if checkValidity() && 
                      isVerifiedUser(userId) && 
                      hasVerifiedEmail();
      allow create, update: if checkValidity() && 
                      isVerifiedUser(userId) && 
                      hasVerifiedEmail() &&
                      additionalWritePermission(userId);
    }
  }
}

function checkValidity() {
  return request.auth != null
}

function isVerifiedUser(userId) {
	return request.auth.uid == userId
}

function hasVerifiedEmail() {
	return request.auth.token.email_verified
}

function additionalWritePermission(userId) {
	return request.resource.data.time is string && 
          request.resource.data.cause is string &&
          request.resource.data.amount is number;
}

// firebase deploy --only firestore:rules
