@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f2227;
    color: white;
    font-family: "Montserrat", sans-serif;
}

td,
th {
    border: 1px solid #444;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #444;
}

.add-schedule {
    animation: grow 150ms linear 1 forwards;
}

@keyframes grow {
    from {
        height: 0%;
    }
    to {
        height: fit-content;
    }
}

.firebase-emulator-warning {
    display: none;
}
